.auth-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;

  &__finger-wrapper {
    display: flex;
    // margin-top: 100px;
    justify-content: center;
  }

  &__route-buttons {
    display: flex;
    margin-top: 64px;
    justify-content: space-evenly;
  }
}