html, body { height: 100%; }
body { font-family: 'Roboto', sans-serif;}

#root, .theme-container {
    height: 100%;
}

.app__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.float-button {
  top: -29px; /* Adjust to where you want it */
  right: 6%; /* Adjust to where you want it */
  z-index: 1100;
  position: absolute;
}