html { height: 100%; }
body { height: 100%; font-family: 'Roboto', sans-serif;}

#root, .theme-container {
	height: 100%;
}

.app {
	&__wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
	}
	
	&__navigation {
		top: 0;
		width: 100%;
		z-index: 1;
		position: fixed;
	}

	&__content {
		height: 100%;
	}
}

.float-button {
  top: -29px; /* Adjust to where you want it */
  right: 6%; /* Adjust to where you want it */
  z-index: 1100;
  position: absolute;
}
